<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head %>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <div id="wrapper">
    <% include ./partials/navigation %>
    <div id="page-wrapper">
      <div class="row">
        <button type="button" onclick="stopInstace();" id='instance_id'>Stop</button>
        <button type="button" onclick="runInstace();" id='instance_id'>Run</button>
      </div>
    </div>
  </div>
  <script>
  // var chartLabels = [];
  // var datasets = [];

  function stopInstance(e) {
    var theurl = '/instances/' + e.target.id + '/stop';
    $.ajax({
      url: theurl,
      type: "GET",
      success: function(result) {
        console.log(result);
      },
      error: function(result) {
        console.log(result);

      },
      timeout: 8000
    });
    // body...
  }

  function runInstace(e) {
    var theurl = '/instances/run';
    var ami = $("#ami-inp").val();
    $.ajax({
      url: theurl,
      type: "POST",
      data: {
        imageId: ami, 
        numOfInstance: 1
      },
      success: function(result) {
        console.log(result);
      },
      error: function(result) {
        console.log(result);
      },
      timeout: 8000
    });
  }

  </script>
</body>

</html>
