<!DOCTYPE html>
<html>

  <head>
  </head>

  <body>
      
      this is bucket detail
      <h2>
        Name: <%= bucket.Name %>
      </h2>

      <h1>My Photo Albums App</h1>
      <div id="app"></div>
      
  </body>

</html>
