<!DOCTYPE html>
<html>

<head>
	<% include ./partials/head %>
</head>

<body>
	<div id="wrapper">
		<% include ./partials/navigation %>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger alert-dismissable" id="action-alert-error">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<span class="alert-content"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Bug Reporting System</h1>
					<div class="col-lg-8">
					</div>
					<div class="col-lg-3">
					</div>
				</div>
			</div>
			<!-- Tickets View-->
			<% include ./partials/new-ticket %>
			<% include ./partials/tickets-table %>
			<!-- Search View-->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
			            		<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" class="">Search for tickets</a>
			            	</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse in" aria-expanded="true" style="">
							<!-- /.panel-heading -->
							<div class="panel-body search-wrapper">
								<div class="loader"></div>
								<div class="col-lg-6">
									<div class="input-group">
										<input type="text" id="search-inp" class="form-control" placeholder="Search for...">
										<span class="input-group-btn">
        									<button class="btn btn-default" type="button" id="search-ticket-btn">Go!</button>
      									</span>
									</div><!-- /input-group -->
								</div><!-- /.col-lg-6 -->
								<table width="100%" class="table table-striped table-bordered table-hover" id="search-list">
									<thead>
										<tr role="row">
											<th>#</th>
											<th>Title</th>
											<th>Description</th>
											<th>Category</th>
											<th>Related Feature</th>
											<th>Department</th>
											<th>Reported By</th>
											<th>Created At</th>
										</tr>
									</thead>
									<tbody id="search-results">
									</tbody>
								</table>
								<!-- /.table-responsive -->
							</div>
						</div>
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		var searchTbl = $('#search-list').DataTable({});


		$('#tickets-list').DataTable({
			responsive: true,
		});

		$(".load-ticket").on('click', function(e) {
			e.preventDefault();
			var id = e.target.id;
			var theurl = 'api/tickets/' + id + '/';
			$.ajax({
				url: theurl,
				type: "GET",
				success: function(result) {
					console.log(result);
					alert(" Loading data for ticket: " + result.data[0].id + "\n" + result.data[0].title + ' [ ' + result.data[0].description + ' ]');
				},
				error: function(result) {
					console.log("Creating error: " + result);
				},
				timeout: 8000
			});
		});

		$("#new-ticket-btn").on('click', function(e) {
			$('.new-ticket-wraper .loader').show();
			var theurl = 'api/tickets';
			$.ajax({
				url: theurl,
				type: "POST",
				data: {
					reporter: $("#reporter-inp").val(),
					title: $("#title-inp").val(),
					description: $("#desc-inp").val(),
					category: $("#category-inp option:selected").val(),
					feature: $("#feature-inp option:selected").val(),
					department: $("#department-inp option:selected").val()
				},
				success: function(result) {
					$('.new-ticket-wraper .loader').hide();
					$('.new-ticket-wraper .alert-success').show();
					$('.new-ticket-wraper .alert-danger').hide();
				},
				error: function(result) {
					$('.new-ticket-wraper .loader').hide();
					$('.new-ticket-wraper .alert-success').hide();
					$('.new-ticket-wraper .alert-danger').show();
					console.log("Creating error: " + result);
				},
				timeout: 8000
			});
		});

		$("#search-ticket-btn").on('click', function(e) {
			$('.search-wrapper .loader').show();
			var theurl = 'api/tickets/search/' + $("#search-inp").val();
			$.ajax({
				url: theurl,
				type: "GET",
				success: function(result) {
					$('.search-wrapper .loader').hide();
					$('.search-wrapper .alert-success').show();
					$('.search-wrapper .alert-danger').hide();
					loadSearchData(result.data);
				},
				error: function(result) {
					$('.search-wrapper .loader').hide();
					$('.search-wrapper .alert-success').hide();
					$('.search-wrapper .alert-danger').show();
					console.log("Creating error: " + result);
				},
				timeout: 8000
			});
		});

		function loadSearchData(data) {
			tbody = document.getElementById("search-results");
			searchTbl.clear();
			searchTbl.draw();

			for (var i = data.length - 1; i >= 0; i--) {
				searchTbl.row.add([data[i]['id'],
					data[i]['title'],
					data[i]['description'],
					data[i]['category'],
					data[i]['relatedFeature'],
					data[i]['department'],
					data[i]['reporter'],
					data[i]['createdAt']
				]).draw();
			}
		}
	});

	</script>
</body>

</html>
