<!DOCTYPE html>
<html>

<head>
	<% include ./partials/head %>
</head>

<body>
	<div id="wrapper">
		<% include ./partials/navigation %>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger alert-dismissable" id="action-alert-error">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<span class="alert-content"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Bug Reporting System</h1>
					<div class="col-lg-8">
					</div>
					<div class="col-lg-3">
					</div>
					<div class="col-lg-1 loader-div">
						<div class="loader"></div>
					</div>
				</div>
			</div>
			<!-- Tickets View-->
			<% include ./partials/new-ticket %>
			<% include ./partials/ticket-table %>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<script type="text/javascript">
	$(document).ready(function() {

		$('#tickets-list').DataTable({
			responsive: true,
		});

		$("#new-ticket-btn").on('click', function(e) {
			$('.loader').show();
			var theurl = 'api/tickets';
			$.ajax({
				url: theurl,
				type: "POST",
				data: {
					reporter: $("#reporter-inp").val(),
					title: $("#title-inp").val(),
					description: $("#desc-inp").val(),
					category: $("#category-inp option:selected").val(),
					relatedFeature: $("#feature-inp option:selected").val(),
					department: $("#department-inp option:selected").val()
				},
				success: function(result) {
					$('.loader').hide();
					$('.alert-success').show();
					$('.alert-danger').hide();
				},
				error: function(result) {
					$('.loader').hide();
					$('.alert-success').hide();
					$('.alert-danger').show();
					console.log("Creating error: " + result);
				},
				timeout: 8000
			});
		});
	});
	</script>
</body>

</html>