<!DOCTYPE html>
<html>

<head>
	<% include ./partials/head %>
</head>

<body>
	<div id="wrapper">
		<% include ./partials/navigation %>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<div class="alert alert-danger alert-dismissable" id="action-alert-error">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						<span class="alert-content"></span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Bug Reporting System</h1>
					<div class="col-lg-8">
					</div>
					<div class="col-lg-3">
					</div>
				</div>
			</div>
			<!-- Tickets View-->
			<% include ./partials/new-ticket %>
			<% include ./partials/tickets-table %>
		</div>
		<!-- /#page-wrapper -->
	</div>
	<script type="text/javascript">
	$(document).ready(function() {

		$('#tickets-list').DataTable({
			responsive: true,
		});

		$(".load-ticket").on('click', function(e) {
			e.preventDefault();
			var id = e.target.id;
			var theurl = 'api/tickets/' + id + '/';
			$.ajax({
				url: theurl,
				type: "GET",
				success: function(result) {
					console.log(result);
					alert(" Loading data for ticket: " + result.data[0].id + "\n" + result.data[0].title + ' [ ' + result.data[0].description + ' ]');
				},
				error: function(result) {
					console.log("Creating error: " + result);
				},
				timeout: 8000
			});
		});

		$("#new-ticket-btn").on('click', function(e) {
			$('.new-ticket-wraper .loader').show();
			var theurl = 'api/tickets';
			$.ajax({
				url: theurl,
				type: "POST",
				data: {
					reporter: $("#reporter-inp").val(),
					title: $("#title-inp").val(),
					description: $("#desc-inp").val(),
					category: $("#category-inp option:selected").val(),
					feature: $("#feature-inp option:selected").val(),
					department: $("#department-inp option:selected").val()
				},
				success: function(result) {
					$('.new-ticket-wraper .loader').hide();
					$('.new-ticket-wraper .alert-success').show();
					$('.new-ticket-wraper .alert-danger').hide();
				},
				error: function(result) {
					$('.new-ticket-wraper .loader').hide();
					$('.new-ticket-wraper .alert-success').hide();
					$('.new-ticket-wraper .alert-danger').show();
					console.log("Creating error: " + result);
				},
				timeout: 8000
			});
		});

		$("#search-ticket-btn").on('click', function(e) {
			$('.search-wrapper .loader').show();
			var theurl = 'api/tickets/search/' + $("#search-inp").val();
			$.ajax({
				url: theurl,
				type: "GET",
				success: function(result) {
					$('.search-wrapper .loader').hide();
					$('.search-wrapper .alert-success').show();
					$('.search-wrapper .alert-danger').hide();
					loadSearchData(result.data);
				},
				error: function(result) {
					$('.search-wrapper .loader').hide();
					$('.search-wrapper .alert-success').hide();
					$('.search-wrapper .alert-danger').show();
					console.log("Creating error: " + result);
				},
				timeout: 8000
			});
		});

		function loadSearchData(data) {
			tbody = document.getElementById("search-results");
			tbl = $('search-list').DataTable({});
			tbl.clear();
			tbl.draw();

			for (var i = data.length - 1; i >= 0; i--) {
				tbl.row.add([data[i]['id'],
					data[i]['title'],
					data[i]['description'],
					data[i]['category'],
					data[i]['relatedFeature'],
					data[i]['relatedFeature'],
					`
			<button type="button" id="` + instances[i].Instances[0].InstanceId + `"   class="btn start-btn-ec2 btn-success btn-circle"><i class="fa fa-play "></i></button>
			<button type="button" id="` + instances[i].Instances[0].InstanceId + `"  class="btn stop-btn-ec2 btn-danger btn-circle"><i class="fa fa-pause"></i></button>

					`
					//instances[i]["Instances"]["0"]["Tags"]["0"]["Value"],
					//instances[i]["Instances"],
				]).draw();
				$(".start-btn-ec2").on('click', function(e) {
					startInstance(e);
				});
				$(".stop-btn-ec2").on('click', function(e) {
					stopInstance(e);
				});
				//tbody.appendChild(document.createElement('tr',{"class":"d"}));

				// tbody.innerHTML +=`<tr class="odd gradeX" role="row">`+
				// `<td class="center">` + +`</td>`+
				// `<td class="center">` + +`</td>`+
				// `<td class="center">` + +`</td>`+
				// `<td class="center">` + +`</td>`+
				// `<td class="center">` + +`</td>`+
				// `<td class="center">` + +`</td>`+
				// `<td class="center">` + +`</td>`+

				// `</tr>`;
			}


		}
	});
	</script>
</body>

</html>