<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head %>
</head>


<body>
	<% include ./partials/navigation %>
	this is your ec2 management dashboard
	<script type="text/javascript" charset="utf-8"></script>
</body>
</html>
