<!DOCTYPE html>
<html>
  Hello world
  this is update
  <table>
    <% for(var i=0; i<bucketList.length; i++) {%>
    <tr>
      <td>
        <%= bucketList[i].Name %>
      </td>
    </tr>
    <% } %>
  </table>

</html>