/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.delete-btn {
  text-align: center;
  vertical-align: middle;
}

.delete-btn i.fa.fa-times {
  cursor: none;
  pointer-events: none;
}

.alert-success,
.alert-danger {
  display: none;
}

.loader {
  display: none;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#notification-placeholder .alert{
	display: none;
}

.loader-div {
  height: 100%;
  padding-top: 7px;
  margin-left: -30px;
}

.grid-item {
  height: 250px;
  float: left;
  /*border: 1px solid #333;*/
  border-color: hsla(0, 0%, 0%, 0.5);
  
  padding: 5px 2px;
}

.grid-item .image-desc {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: inline-block;
}

.grid-item--width3 {
  width: 60%;
}

.grid-sizer, .grid-item { 
  width: 20%;
}

.grid-item--width2 { width: 40%; }

/* fluid 3 columns */

/*.grid-item { width: 30%; }*/
.grid-item img {
  width: 100%;
  height: 90%;
  border-radius: 0.5em;
}
/* 2 columns */
/*.grid-item--width2 { width: 40%; }*/
.fa-play,.fa-pause
{
    pointer-events: none;

}

.alert{
  margin:20px;
}




